Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)

# Title of notebook

Exercise 3 - Create a markdown cell for an introduction. (1 pt)

introduction to jupyter test modul 6

Exercise 4 - Create a markdown cell to list data science languages. (3 pts)

1. Python
2. R
3. SQL

Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)

1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. Keras
7. TensorFlow
8. Pytorch

Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)

|Data Science Tools|
|-|
|Jupyter Notebooks|
|Jupyter Hub|
|RStudio|
|GitHub|

Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)

Here are some introducing arithmetic expression esample

Exercise 8 - Create a code cell to multiply and add numbers. (2 pts)

In [5]:
#This expression will multiply and then add 2 numbers

res_add_and_mul = 3 * 4 + 5

print("Result: \n", res_add_and_mul)

Result:
 17

Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)

In [3]:
#This expression will multiply and then add 2 numbers

hours = 200/60
print(hours, "hours")

3.3333333333333335 hours

Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)

following is a list of objectives

#### Objectives

- Become Data Scientist
- Buy a bottle of wine
- Create world peace

Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name. (2 pts)

#### Author
*Christian R*